<style>
.date-btn{
    border: 1px solid #ddd;
    border-radius: 10px;
    color: #333;
    cursor: pointer;
    font-size: 11px;
    line-height: 30px;
    margin: 10px;
    padding: 5px 0;
    }
    .date-btn-active{
	  border:1px solid #ddd;
	background-color: #f5f5f5;
	color:#000;
		}
	.date-btn:hover, .date-btn:active,.date-btn:focus{
	border:1px solid #ddd;
	background-color: #f5f5f5;
	color:#000;
			
	}
	.date-btn:hover:active:focus{border:1px solid #ddd;
	background-color: #f5f5f5;}
</style>
<div ng-show="do_continue ">
   <div  ng-hide="confirmationPage">
   
   <!-- recurring event block start -->
   <div class="text-center" ng-show="isRecirring">
      <div ng-show="selectError" style="color:red;">{{reason}}</div>
      <br>
     
      <!--  for REcurring dates display  -->
      <div ng-click="dateClick(date.name,1);selected.value = $index" ng-class="{'date-btn-active':selected.value==$index}" class="date-btn col-md-2 col-sm-2 col-xs-4" ng-repeat=" date in selectDate | limitTo : 10">
             <span   >{{date.name | dateFormat }}</span>  
      </div>
      <div ng-show="moreDiv" style="text-align: right;"><span ng-click="moreDivClick()" style="cursor: pointer;color: blue;">More..</span></div>
      <div ng-show="moreDivClick1" ng-class="{'date-btn-active':selected1.value==$index}" ng-click="dateClick(date.name,2);selected1.value = $index"" class="date-btn col-md-2 col-sm-2 col-xs-4" ng-repeat=" date in selectDate | limitTo :moreDates: 10">
             <span >{{date.name | dateFormat }} </span>  
      </div>
      <!--  REcurring dates display End -->
   </div>
   <!-- recurring event block End -->
   
  
   <div ng-show="radioButtons" ><br>
 
       <div ng-show="backToSelectDate" class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;margin:0px">
       
       <div class="col-md-3 col-sm-3" style="padding:20px 0px 0px 0px;"><span ng-click="refresh()" style="cursor: pointer;color: blue;"><<</span>select date and time </div>
       <div class="col-md-3 col-sm-3" style="padding:0px;" > <div class="date-btn date-btn-active" style="text-align:center"> {{selectedDate | dateFormat}}</div> </div>
       
        </div>
      
        
         <!--  Radio buttons disply start -->
         <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px;margin:0px">
	   <div class="col-md-5 col-sm-5 col-xs-12" ng-hide="OneAttendee" style="padding:0px;" >
	      <div class="col-md-4 col-sm-4 col-xs-12" style="padding:0px;">
		      <input type="radio" ng-model="rsvpRecurring" value="attend" ng-click=getList(attendlimit,rsvpRecurring);>
		      {{attending}} 
		      </div>
			 <div class="col-md-5 col-sm-5 col-xs-12" style="padding:0px;">
			<select class="form-control" ng-disabled="dropDisble" ng-show="attOpt" ng-model="sureattend" ng-change="validate(sureattend,0,'yes');" ng-options="y for y in list"><option value="">{{defaultmsg }}</option></select>
	      </div>
	   </div>
	   
	   <div ng-show="isMaybeAttend">
	     	<div class="col-md-5 col-sm-5 col-xs-12" style="padding:0px;" >
	      		<div class="col-md-3 col-sm-3 col-xs-12" style="padding:0px;">
		      <input type="radio" ng-model="rsvpRecurring" value="maybeAttend" ng-click=getList(notsurelimit,rsvpRecurring);>
		      {{maybe}}
		      </div>
		       <div class="col-md-5 col-sm-5 col-xs-12" style="padding:0px;"  >
			<select class="form-control" ng-disabled="dropDisbleMay" ng-show="mayOpt" ng-model="notsureattend" ng-change="validate(0,notsureattend,'yes');" ng-options="y for y in list"><option value="">{{defaultmsg }}</option></select></span>
	   </div>
	   </div>
	   </div>
	   <div class="col-md-2 col-sm-2 col-xs-12" ng-show="isNotAttend" style="padding:0px;">
	      <label>
		      <input type="radio" ng-model="rsvpRecurring" ng-click="validate(0,0,'no')" value="notAttend">
		      {{notAttending}}
	    </label>
	   </div>
	   </div>
	   <div style="clear: both;"></div>
    <!--  Radio buttons disply End -->
    
     
   <form class="form-horizontal" name="questionForm" ng-submit="sub()" ng-hide="formSH" ng-hide="loadingQuestions">
             <!--  ProfilePage  disply start -->
               <div ng-show="profileDiv">
               <div ng-repeat="ticket in profileQuestions" ng-init="ticketIndex = $index">
               
                  <div ng-repeat="profile in ticket.profiles track by $index" ng-init="profileIndex = $index"> 
                     <h5 class="bodyheaders"><span ng-hide="profileHide">Profile #{{ $index+1 }}<span></span></h5> 
					 <div ng-repeat="question in ticket.questions">
                         <div ng-include="'/angularTicketWidget/rsvp/attendeeQuestions.html'"></div> 
                         
                   </div>
                </div>
                
                <hr ng-hide="$last">
            </div>
            
               <div ng-show="otherProfileDiv"> 
                    <h3 class="bodyheaders">OtherQuestions </h3>
					<div ng-repeat="question in otherQuestions">
                        <div ng-include="'/angularTicketWidget/rsvp/buyerQuestions.html'"></div>
                    </div>
               </div> 
                <!-- <hr ng-hide="$last"> -->
                <div ng-if="promotionsection!='No'">
                	<h3 class="bodyheaders"> Promotions</h3>
                	<input type="checkbox" ng-model="promotionCheckBox" ng-click="promotionCheck(promotionCheckBox)">{{promotionsection}}
                </div>
                <div class="">
            	<img src="/angularTicketWidget/images/loading.gif" style="float:right" ng-show="loadingSubmit" />
            	<button class="btn btn-warning pull-right" type="submit" ng-hide="loadingSubmit">continue</button>
            </div>
                </div>
                <!--  ProfilePage  disply End -->
             </div>
            <!-- </div> -->
    </form>
</div>
    <div ng-show="confirmationPage">
    <div ng-bind-html="confirmationPageData"></div>
    </div>
</div>