@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
 body {
    /*font-family: 'Open Sans', sans-serif;*/
    #font-family: 'Lato', sans-serif;
    #font-weight: 400;
    #padding: 10px;
}

/* p,
div,
a {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: 400 !important;
} */
@media (max-width: 767px) {
    .float-right {
        float: right;
    }
}


i.fa-plus-square,
i.fa-minus-square {
    cursor: pointer;
    color: #666;
    /* need to update */
}
.headings h5,
.groupTickets>h4 {
    color: #5388c4;
}
.groupTickets {
    border-left: 3px solid #DDDDDD;
    padding-left: 5px;
    margin-left: -8px;
}
hr {
    margin: 10px 0 !important;
}
.discountCode {
    #padding: 5px;
    #border: 1px dotted orange;
}
.cut {
    text-decoration: line-through;
    color: #a94442;
    font-size: .95em;
}
.cutname {
    text-decoration: line-through;
}
/* animations */

.ng-hide-add,
.ng-hide-remove {
    display: block !important;
}
.description {
    transition: .2s linear all;
    height: 15px;
    overflow: hidden;
}
.description.ng-hide {
    height: 0;
}
.countdown {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 999;
}
.payment-methods td {
    padding: 10px 10px 10px 0;
}
.paymentDetails tr:last-child {
    font-weight: bold;
}
/* modal dialogs */

.modal-dialog {
    margin-top: 100px;
}
/* Fix for Bootstrap 3 with Angular UI Bootstrap */

.modal {
    display: block;
}
/* Custom dialog/modal headers */

.dialog-header-error {
    background-color: #d2322d;
}
.dialog-header-wait {
    background-color: #428bca;
}
.dialog-header-notify {
    background-color: #eeeeee;
}
.dialog-header-confirm {
    background-color: #333333;
}
.dialog-header-error span,
.dialog-header-error h4,
.dialog-header-wait span,
.dialog-header-wait h4,
.dialog-header-confirm span,
.dialog-header-confirm h4 {
    color: #ffffff;
}
/* Ease Display */

.pad {
    padding: 25px;
}

#backgroundPopup {
    background-color: #080808;
    display: none;
    height: 4000px;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.backgroundPopup{
	background-color: #080808;
    height: 4000px;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.ticketunavailablepopup_div{
    background-color: #f5f5f5;
    border: 20px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
    color: black;
    float: left;
    margin-top: -50px;
    padding: 20px;
    position: absolute;
    width: 250px;
    z-index: 100003;
    }
    .imgclose {
    border: 0 none;
    float: right;
    margin-right: -37px;
    margin-top: -74px;
}
.NA{
width:5px;
height:5px;
}

.selectedSeat {
	border:1px solid red;
	margin-right:2px;
}

.nonSelectedSeat {
	border:1px solid #fff;
	border-color: rgba(111,111,111,0) transparent transparent;
	margin-right:2px;
}

.imgclosefortkt{
	border: 0 none;
	float: right;
	margin-right: -15px;
	margin-top: -66px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


.submitbtn-style:hover {
    background-position: 0 -1300px;
    border-color: #7d98b8;
    color: #000;
    text-decoration: none;
}
.submitbtn-style {
    background: url("/main/images/sprite.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #808080;
    cursor: pointer;
    font: 12px/1.6 verdana,arial,helvetica,clean,sans-serif;
    height: 31px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
}

.error {
    color: #ff0000;
    font-family: verdana;
    font-size: 13px;
    font-weight: normal;
}


.social-share {
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 28%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(28%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 28%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 28%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 28%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 28%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0); /* IE6-9 */
cursor:pointer;
border:1px solid rgba(229,229,229,1);
border-radius:3px;
color: #666;
padding: 13px 35px 15px;
margin-right:15px;
margin-left:0px;
margin-top: 15px;
margin-bottom:15px;
}

.sharing-section{
margin-top: 10px;
margin-bottom: 10px;
}
.sharing-section a span{
text-decoration:none;
color: #666;
cursor:pointer;
}
.fbsharebtn{
border: medium none;
background: none repeat scroll 0 0 transparent;
width: 65px;
cursor:pointer;
}
/* ------------------------------For top menu start-------------------------------------------------- */

.test-arrow> ul {
   	padding:0px;
	width:100%;
	text-align: center;
	    font-size: 14px;
} 
.test-arrow> ul li {
    display: inline-block;
    #height: 30px;
    height: 0px;
    line-height: 35px;
    width: 24.8%;
    margin: 0px 0px 0px -7px!important; 
    #text-indent: 15px;
    position: relative;
	border:0px solid #FFFFFF;
	
	/* ganesh */
	#margin: 0 -2px 0px 0 !important;
	
}
.test-arrow> ul li:before {
	border-color: transparent transparent transparent #ddd;
    border-style: solid;
    border-width: 18px 0 18px 18px;
    content: " ";
    height: 0;
    left: 1px;
    position: absolute;
    width: 0;
    z-index: 0
}
.test-arrow> ul li:first-child:before {
    border-color: transparent;
}
.test-arrow> ul li a:after {
	border-color: transparent transparent transparent #F5F5F5;
    border-style: solid;
    border-width: 18px 0 17px 17px;
    content: " ";
    height: 0;
    position: absolute;
    right: -15px;
    width: 0;
    z-index: 10;
}
.test-arrow> ul li.active a {
    background: #fff;
    z-index: 100;
}
.test-arrow> ul li.active a:after {
    border-left-color: #fff;
}
.test-arrow> ul li a {
    display: block;
    background: #F5F5F5;
	border:1px solid  #ddd;
	border-top: 0px;
	border-right:transparent;
}
.test-arrow> ul li a:hover {
    background: #ddd;
}
.test-arrow> ul li a:hover:after {
    border-color: transparent transparent transparent #ddd; 
}
.test-arrow > ul li a:last-child :after{
	border-color:transparent;
}
.test-arrow li:last-child a::after,
.test-arrow li:last-child a::before{
    content: none;
}
/* Large Devices, Wide Screens */
/* @media only screen and (max-width : 1200px) {
	.small-Icon{
		display: none;
	}
} */
/* Medium Devices, Desktops */
/* @media only screen and (max-width : 992px) {
	.small-Icon{
		display: none;
	}
} */

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.small-Title{
		display:none;
   	}
   	.small-Icon{
		display: show;
	}
   	.small-Icon{
   		    margin: 10px 0px;
   	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 540px) {
	.small-Title{
		display:none;
	}
   	.small-Icon{
		display: show;
	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.small-Title{
		display:none;
   	}
   	.small-Icon{
		display: show;
	}
}
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.small-Title{
		display:none;
   	}
   	.small-Icon{
		display: show;
	}
}
 #tickets .widget-content{
 	padding: 0px 15px 15px 15px;
 }   
 .ticket-title{
 	background-color: #F5F5F5;
    padding: 9px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
 }
.test-arrow a {
    color: #666;
}
/* ------------------------------For top menu end-------------------------------------------------- */
.sub-module{
	border-left: 4px solid #ddd;
    padding: 0px 40px 0px 40px;
    border-right: 4px solid #ddd;
}
.arrow_box {
	position: relative;
	background: #fff;
	border: 2px solid #ddd;
	padding: 10px;	
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 23%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #fff;
	border-width: 33px;
	margin-top: -33px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #ddd;
	border-width: 36px;
	margin-top: -36px;
}
@media only screen and (max-width : 768px) {
.arrow_box {
	position: relative;
	background: #fff;
	border: 2px solid #ddd;
	margin-top: 35px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	top: -14%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 33px;
	margin-left: -33px;
}
.arrow_box:before {
	border-color: rgba(221, 221, 221, 0);
	border-bottom-color: #ddd;
	border-width: 33px;
	margin-left: -33px;
}
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 540px) {
.arrow_box {
	position: relative;
	background: #fff;
	border: 2px solid #ddd;
	margin-top: 35px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	top: -13%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 33px;
	margin-left: -33px;
}
.arrow_box:before {
	border-color: rgba(221, 221, 221, 0);
	border-bottom-color: #ddd;
	border-width: 33px;
	margin-left: -33px;
}
}
@media only screen and (max-width : 320px) {
.arrow_box {
	position: relative;
	background: #fff;
	border: 2px solid #ddd;
	margin-top: 35px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	top: -13%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 33px;
	margin-left: -33px;
}
.arrow_box:before {
	border-color: rgba(221, 221, 221, 0);
	border-bottom-color: #ddd;
	border-width: 33px;
	margin-left: -33px;
}
}


/* confirmation page share email fb tweet start */
.social-facebook, .social-tweet, .social-email, .social-referral{
	#padding: 10px 20px;
    #border-radius: 25px;
     
   
    -webkit-border-radius: 25px;
    transition: all 0.5s;
    margin: 0px 5px;
    cursor: pointer;
    display: inline-block;
    width: 45px;
    height: 45px;
    font-size: 18px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.19);
}
.social-facebook{
    color: #FFFFFF;
    background-color: #4060A5;
}
	
.social-facebook:hover{
	color: #4060A5;
    background-color: #FFFFFF;
	transition: all 0.5s;
}

.social-tweet{
    color: #FFFFFF;
    background-color: #3CF;
}
	
.social-tweet:hover{
	color: #3CF;
    background-color: #FFFFFF;
	transition: all 0.5s;
}
.social-email{
    color: #FFFFFF;
    background-color: #DC4A38;
}
	
.social-email:hover{
	color: #DC4A38;
    background-color: #FFFFFF;
	transition: all 0.5s;
}

.social-referral{
	color: #FFFFFF;
    background-color: #ff9900;
}
.social-referral:hover{
	color: #ff9900;
    background-color: #FFFFFF;
	transition: all 0.5s;
}

#shareblock .fa{
	position: relative;
    top: 14px;
}
/* confirmation page share email fb tweet end */

/* print button start */
.printBtn{
	background-color: whitesmoke;
    border: 1px solid #DDDDDD;
    padding: 5px 10px;
}
.printBtn:hover{
	background-color: #DDDDDD;
}
/* print button start */

/* popup close top button start */
#close-top{
	margin: 0px;
}
.modal-no-bottom{
	border: 0px;
}
/* popup close top button end */

/* text box and text-box title start */
.animate-show,
.animate-hide {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -ms-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
}

.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}
.question-title{
	font-weight: bold;
}
/* text box and text-box title end */
.btn-font{
	font-size: 12px;
	padding: 5px 5px;
}
.total-font{
	font-size: 14px;
	font-family: Verdana;
}
.global-btn{
	font-size: 16px;
    font-weight: 600;
    border-radius: 0px;
    font-family: League Gothic,Helvetica,Arial,sans-serif;
}