.pagination {
            font-size: 80%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}


#Searchresult {
	/*margin-top:15px;*/
	margin-bottom:10px;
	border:solid 1px #eef;*/
	padding:5px;
	background:#eef;
  	width:99%;
	height:200px;
}

#Searchresult p { margin-bottom:1.4em;}

#Searchresult dt {
    font-weight:bold;
}

#Searchresult dd {
    margin-left:25px;
}

#container .pagination a{
color: black;
}

#ImageContainer {
    height:125px;
    width:100%;
    border:solid 1px #ccc;
    margin-bottom:10px;
}

#ImageContainer img {display:none;}
