<!-- when pop-up open background transparent color code 'class="modal-backdrop fade in"' added every modal pop-up if not you want 
create like: this modal tag have ID 
$('#ID').modal('show'); -->

<!-- alert messages start -->
<div class="modal" id="error_messages" style="display:none;" >
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header modal-no-bottom">
	            <button type="button" class="close" ng-click="closeError();" id="close-top"><img src='/home/images/images/close.png'></button>
         	</div>
         	<div class="modal-body">
         		<div id="error_messages_html"></div>
         	</div>
         	<div class="modal-footer" style="text-align: center; border-top: 0px solid #e5e5e5;">
            	<button type="button" class="btn btn-default btn-sm" ng-click="closeError();">OK</button>
         	</div>
		</div>
	</div>
</div>
<!-- alert messages start -->

<!-- Multiple tickets case pop-up start -->
<div ng-if="eventMetadata.has_seating">
	<div class="modal" ng-show="seatingMultTicket"  >
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header modal-no-bottom">
		            <button type="button" class="close" ng-click="multiSeatSelectClose();" id="close-top"><img src='/home/images/images/close.png'></button>
	         	</div>
	         	<div class="modal-body">
	         	<div>This seat is assigned to multiple Ticket Types, &nbsp;select one</div>
	         		<div id="seatingMultTicket"></div>
	         	</div>
	         	<div class="modal-footer" style="text-align: center; border-top: 0px solid #e5e5e5;">
	            	<button type="button" class="btn btn-default btn-sm" ng-click="seatAccept();">Select Ticket</button>
	            	<button type="button" class="btn btn-default btn-sm" ng-click="multiSeatSelectClose();">Cancel</button>
	         	</div>
			</div>
		</div>
	</div>
	<div ng-show="seatingMultTicket" class="modal-backdrop fade in"></div>
</div>
<!-- Multiple tickets case pop-up end -->

<!-- PriorityTimeCheck start -->
<div ng-if="eventMetadata.is_priority">
	<div class="modal" ng-show="timeCheckShow">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header modal-no-bottom">
		            <button type="button" class="close" ng-click="close_priTimeCheck();" id="close-top"><img src='/home/images/images/close.png'></button>
	         	</div>
	         	<div class="modal-body">
	         		<div > Sorry, timed out!</div>
	         	</div>
	         	<div class="modal-footer" style="text-align: center; border-top: 0px solid #e5e5e5;">
	            	<button type="button" class="btn btn-default btn-sm" ng-click="close_priTimeCheck();">{{timeCheckShow}}</button>
	         	</div>
			</div>
		</div>
	</div>
	<div ng-show="timeCheckShow" class="modal-backdrop fade in"></div>
</div>
<!-- PriorityTimeCheck end -->

<!-- Conditional Ticketing Pop-Up Start -->
<div class="modal" ng-show="conditional_ticketing">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header modal-no-bottom">
	            <button type="button" class="close" ng-click="close_condition();" id="close-top"><img src='/home/images/images/close.png'></button>
         	</div>
         	<div class="modal-body">
         		<div ng-bind-html="conditional_ticketing"></div>
         	</div>
         	<div class="modal-footer" style="text-align: center; border-top: 0px solid #e5e5e5;">
            	<button type="button" class="btn btn-default btn-sm" ng-click="close_condition();">OK</button>
         	</div>
		</div>
	</div>
</div>
<div ng-show="conditional_ticketing" class="modal-backdrop fade in"></div>
<!-- Conditional Ticketing Pop-Up End -->

<!-- Wait List Pop-Up Start -->
<div class="modal "  ng-show="showWaitPop" >
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header modal-no-bottom">
            <button type="button" class="close " id="close-top" ng-click="closeWaitList();" >
            	<img src='/home/images/images/close.png'>
            </button>
         </div>
         <div class="modal-body">
            <form name="myForm">
               <div ng-show="waitListResponse.status=='success'" class="alert alert-success">{{waitListResponse.msg}}</div>
               <div ng-show="waitListResponse.status=='fail'" class="alert alert-danger">{{waitListResponse.status}}</div>
               <div class="col-sm-10">
                  <b>Ticket Name</b><br>
                  <label>{{waitListData.tktName}}</label>
               </div>
               <div class="col-sm-2 text-right">
                  <b>Quantity</b><br>
                  <span >
                  <select class="form-control" ng-change="getScoreData(wait_select)"  ng-model="wait_select" ng-options="o for o in waitListData.waitlistQty"></select>
                  </span>
               </div>
               <div class="col-sm-12 ">
                  <hr>
               </div>
               <div ng-show="waitListData.error" style="color:red;">{{waitListData.error}}</div>
               <div class="form-group col-md-12 col-sm-12 ">
                  <input type="text" name="wname" class="form-control" ng-model="userWaitListDetails.name" placeholder="Name" required/>
                  <span class="error" ng-show="myForm.wname.$error.required">Required!</span>
               </div>
               <div class="form-group col-md-12 col-sm-12">
                  <input type="email" name="wemail" class="form-control" ng-model="userWaitListDetails.email" placeholder="Email" required ng-pattern="waitListData.pattern"/>
                  <span class="error" ng-show="myForm.wemail.$error.required">Required!</span>
                  <span class="error" ng-show="myForm.wemail.$error.email">Not valid email!</span>
               </div>
               <div class="form-group col-md-12 col-sm-12">
                  <input type="text" class="form-control" ng-model="userWaitListDetails.mnumber" placeholder="Mobile Number"/>
               </div>
               <div style="clear:both;"></div>
               <div class="form-group col-md-12 col-sm-12" style="    margin-bottom: 0px;">
                 <textarea class="form-control" ng-model="userWaitListDetails.message"  placeholder="Message to manager"></textarea>
               </div>
               <div style="clear:both;"></div>
            </form>
         </div>
         <div class="modal-footer">
            <div class="text-center">
            	<button type="button" ng-show="waitListData.showBtn" class="btn btn-sm btn-primary" ng-disabled="wbtn = wait_select == 0 ? true : false" ng-click="submitWaitList();">Submit</button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="closeWaitList();">Cancel</button>
            </div>
         </div>
      </div>
   </div>
</div>
<div ng-show="showWaitPop" class="modal-backdrop fade in"></div>
<!-- Wait List Pop-Up End -->