
<div class="text-center center-block" style="padding:30px 0" ng-show="loadingQuestions">
    <img src="/angularTicketWidget/images/loading.gif" />&nbsp;Loading...
</div>
<div ng-hide="loadingQuestions">
	<div class="col-md-6 col-sm-6 col-xs-6  " style="padding-left: 0px;">
		<span ng-click="showSummary();" class="show_summary" style="cursor: pointer;">
			<span class="order-summary">{{profilePageInfo.order_summary}}</span>&nbsp;<i style="margin-left: 7px;" ng-class='{"down":abc,"original":xyz}' class="glyphicon glyphicon-menu-right" aria-hidden="true"></i>
		</span>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-6  order-summary text-right"><b>{{currencyLbl}} {{ticketsCost}}</b></div>
	<div style="clear: both;"></div>
	
	<div id="summarydetails" style="display: none;">
		<hr>
			<div class="col-md-5 col-sm-5 col-xs-5" style="margin-bottom: 5px;"><b>{{profilePageInfo.ticket_name}}</b></div>
			<div class="col-md-4 col-sm-4 col-xs-4" style="margin-bottom: 5px;"><b>{{profilePageInfo.quantity}}</b></div>
			<div class="col-md-3 col-sm-3 col-xs-3" style="margin-bottom: 5px;"><b>{{profilePageInfo.price}}</b></div>
		<span ng-repeat="question in profileQuestions.attendee_questions">
			<div class="col-md-5 col-sm-5 col-xs-5"> {{question.ticket_name}} </div>
			<div class="col-md-4 col-sm-4 col-xs-4"> {{question.qty}} </div>
			<div class="col-md-3 col-sm-3 col-xs-3"> {{currencyLbl}} {{question.finalprice}} </div>
		</span>
		<!-- <div class="col-md-12 col-sm-12 col-xs-12"><br></div> -->
	</div>
	
 	<div style="clear: both;"></div>
	<div class="col-md-12" style="padding:0px;    margin-top: 5px;">
	
		<form class="form-horizontal" name="questionForm" ng-submit="sub()">
			<!-- profileQuestions start -->
			<b>{{profileQuestions.buyerheader}}</b>
			<hr>
			
			<div ng-repeat="question in profileQuestions.buyer_questions">
                <div ng-include="'/angularTicketWidget/buyerQuestions.html'"></div>
            </div>
            <!-- <br> -->
            <!-- profileQuestions end -->
            
            <!-- attendee_questions start -->
            <span ng-if="profileQuestions.attendee_questions.length>0"> 
            	<b>{{profilePageInfo.attendee_information}}</b>
            	<hr>
            </span>
            <div ng-repeat="ticket in profileQuestions.attendee_questions" ng-init="ticketIndex = $index">
               <!--  <h5 class="bodyheaders">Ticket: {{ ticket.ticket_name }}</h5> -->
                <b>{{ ticket.ticket_name }}</b>
                <div ng-repeat="profile in ticket.profiles" ng-init="profileIndex = $index">
                    <h5 class="bodyheaders">{{profilePageInfo.profile}} #{{ $index+1 }}</h5>
					<div ng-repeat="question in ticket.questions">
                        <div ng-include="'/angularTicketWidget/attendeeQuestions.html'"></div>
                    </div>
                </div>
                <!-- <hr ng-hide="$last"> -->
            </div>
            <!-- attendee_questions end -->
            
            <!-- promotion section start -->
            <div ng-if="promotionsDiv">
            	
              	<b>{{profileQuestions.promotionsectionheader}}</b>
              	<hr>
              	<label class="checkbox-inline bodyheaders">
                  	<input type="checkbox" ng-model="promotions" ng-click="promotionsChange(promotions);"/>{{profileQuestions.promotionsectionmessage}}
              	</label>
            </div>
            <!-- promotion section end -->
            <div style="clear:both"></div>
            
            <div class="row"><br>
	            <div class="col-md-6 col-sm-6 text-left">
	            	<a href="http://www.eventbee.com"><img style="margin-bottom: 7px;" alt="Powered by Eventbee Online Registration &amp; Ticketing" border="0" src="http://www.eventbee.com/main/images/home/poweredbyeventbee.jpg" title="Powered by Eventbee"></a>
				      <span id="siteseal" >
				         <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=NVWu6PFkDsxAjkyLnVuI60pWgpqh4SRo3mlfoHSPjcEHprez8Nf5vp"></script>
				      </span>
	            </div>
	            <div class="col-md-6 col-sm-6 text-right" style="margin-top: 6px;">
	            	<img src="/angularTicketWidget/images/loading.gif" style="float:right" ng-show="loadingSubmit" />
	            	<button class="btn btn-warning global-btn pull-right" type="submit" ng-hide="loadingSubmit">{{profileQuestions.profilecountinue}}</button>
	            </div>
            </div>
            
        </form>
	</div>
</div>
