<!-- Type is text box start -->
<div class="form-group" ng-if="subQuestion.type=='text'" ng-form="subForm" id="{{ticket.ticket_id}}_{{profileIndex+1}}_{{subQuestion.id}}">
   <span ng-hide="!profile.response[subQuestion.id]" class="animate-show animate-hide">
   		<label ng-bind-html="subQuestion.label" class="question-title"></label> <span ng-show="subQuestion.required=='y'">*</span>
   </span>
   <div class="" ng-class="{'has-error':subForm.name.$error.required && !subForm.name.$pristine}">
      
      <input type="text" name="name" ng-model="profile.response[subQuestion.id]" class="form-control suggestion-list" ng-required="subQuestion.required=='y'" 
         placeholder="{{subQuestion.label}}" ng-keyup="complete()" ng-blur="pushTempData(profile.response[subQuestion.id]);myStyle={'width':'90%'}" autocomplete="off" 
         ng-init="profile.response[subQuestion.id] = isAttAnsStored() ? getAttendeeAnswers(subQuestion.id,subQuestion.type,$parent.profileIndex+1,ticket.ticket_id) : '' "
         ng-style="myStyle" ng-click="myStyle={'width':'100%'}" title="{{subQuestion.label}}"/>
         
      <p ng-show="subForm.name.$error.required && !subForm.name.$pristine" class="help-block">{{requiredError}}</p>
   </div>
</div>
<!-- Type is text box end -->

<!-- Type is text area start -->
<div class="form-group" ng-if="subQuestion.type=='textarea'" ng-form="subForm" id="{{ticket.ticket_id}}_{{profileIndex+1}}_{{subQuestion.id}}">
   <span ng-hide="!profile.response[subQuestion.id]" class="animate-show animate-hide">
   <label ng-bind-html="subQuestion.label" class="question-title"></label> <span ng-show="subQuestion.required=='y'">*</span>
   </span>
   <div class="" ng-class="{'has-error':subForm.name.$error.required && !subForm.name.$pristine}">
      
      <textarea class="form-control" name="name" ng-model="profile.response[subQuestion.id]" ng-required="subQuestion.required=='y'" placeholder="{{subQuestion.label}}"
      ng-init="profile.response[subQuestion.id] = isAttAnsStored() ? getAttendeeAnswers(subQuestion.id,subQuestion.type,$parent.profileIndex+1,ticket.ticket_id) : '' "
      title="{{subQuestion.label}}"></textarea>
      
      <p ng-show="subForm.name.$error.required && !subForm.name.$pristine" class="help-block">{{requiredError}}</p>
   </div>
</div>
<!-- Type is text area end -->

<!-- Type is radio start -->
<div class="form-group" ng-if="subQuestion.type=='radio'" ng-form="subForm" id="{{ticket.ticket_id}}_{{profileIndex+1}}_{{subQuestion.id}}">
   <label ng-bind-html="subQuestion.label" class="question-title"></label> <span ng-show="subQuestion.required=='y'">*</span>
   <div class="" ng-class="{'has-error':subForm.name.$error.required}">
      <span ng-repeat="option in subQuestion.options">
      <label class="radio-inline" >
      <input type="radio" name="{{ subQuestion.id }}" ng-model="profile.response[subQuestion.id]" value="{{option.value}}" ng-required="subQuestion.required=='y'" 
      ng-init="profile.response[subQuestion.id] = isAttAnsStored() ? getAttendeeAnswers(subQuestion.id,subQuestion.type,$parent.profileIndex+1,ticket.ticket_id) : '' "/>{{ option.display }}
      </label><br/>
      </span>
   </div>
</div>
<!-- Type is radio end -->

<!-- Type is check box start -->
<div class="form-group" ng-if="subQuestion.type=='checkbox'" ng-form="subForm" id="{{ticket.ticket_id}}_{{profileIndex+1}}_{{subQuestion.id}}">
<span ng-init="attendeeAnswers = getAttendeeAnswers(subQuestion.id,subQuestion.type,$parent.profileIndex+1,ticket.ticket_id)"></span>
   <label ng-bind-html="subQuestion.label" class="question-title"></label> <span ng-show="subQuestion.required=='y'">*</span>
   <div class="" ng-init="assignEmpty(profile.response,subQuestion.id)" >
      <span ng-repeat="option in subQuestion.options">
      <label class="checkbox-inline">
      <input type="checkbox" name="checkboxgroup[]" ng-model="(profile.response[subQuestion.id])[option.value]" ng-required="(subQuestion.required == 'y' && !atleastOneTrue(profile.response[subQuestion.id]))" 
      ng-init="(profile.response[subQuestion.id])[option.value] = attendeeAnswers.indexOf(option.value) > - 1 ? true : false"/>{{ option.display }}
      </label><br/>
      </span>
   </div>
</div>
<!-- Type is check box end -->

<!-- Type is select box start -->
<div class="form-group" ng-if="subQuestion.type=='select'" ng-form="subForm" id="{{ticket.ticket_id}}_{{profileIndex+1}}_{{subQuestion.id}}">
   <label ng-bind-html="subQuestion.label" class="question-title"></label> <span ng-show="subQuestion.required=='y'">*</span>
   <div class="" ng-class="{'has-error':subForm.name.$error.required && !subForm.name.$pristine}">
      <select class="form-control" name="name" ng-model="profile.response[subQuestion.id]" ng-required="subQuestion.required=='y'" ng-options="option.value as option.display for option in subQuestion.options"
      ng-init="profile.response[subQuestion.id] = isAttAnsStored() ? getAttendeeAnswers(subQuestion.id,subQuestion.type,$parent.profileIndex+1,ticket.ticket_id) : '' ">
         <option value="">-- Select an option --</option>
      </select>
      <p ng-show="subForm.name.$error.required && !subForm.name.$pristine" class="help-block">Select an option</p>
   </div>
</div>
<!-- Type is select box end -->